/* Layout */
header {
    display: flex;
    overflow: hidden;
 }

header .quienes-somos,
header .clases,
header .contacto,
header .novedades {
    width: 25%;
    z-index: 5;
    position: relative;
    overflow: hidden;
    /* Flexbox */
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
}

header .quienes-somos .header-image,
header .clases .header-image,
header .contacto .header-image,
header .novedades .header-image {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    z-index: 4;
}

header .quienes-somos .escalar,
header .clases .escalar,
header .contacto .escalar,
header .novedades .escalar {
    transform: scale(1.1);
}

header .quienes-somos a,
header .clases a,
header .contacto a,
header .novedades a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 50px 0 50px 0;
    position: absolute;
    opacity: 0.8;
    z-index: 5;
}

.quienes-somos .header-image { background: url('../media/inicio/quienes-somos.jpg'); }

.quienes-somos a { background-color: #294380; }

.clases .header-image { background: url('../media/inicio/clases.jpg'); }

.clases a { background-color: #78A890; }

.contacto .header-image { background: url('../media/inicio/contacto.jpg'); }

.contacto a { background-color: #E47267; }

.novedades .header-image { background: url('../media/inicio/novedades.jpg'); }

.novedades a { background-color: #FFCE6F; }