@media screen and (max-width: 1024px) {
    header .quienes-somos a,
    header .clases a,
    header .contacto a,
    header .novedades a {
        /* color: white;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        display: block;
        width: 100%;
        padding: 50px 0 50px 0;
        position: absolute;
        opacity: 0.8;
        z-index: 5; */
        font-size: 15px;
        padding: 40px 0 40px 0;
    }
}