@media screen and (max-width: 1024px) {
    main .titulo-principal {
        /* color: #444;
        font-size: 40px;
        font-weight: 600; */
        font-size: 30px;
    }
    
    .titulo-secundario {
        /* color: #666666;
        font-size: 35px;
        font-weight: 600; */
        font-size: 25px;
    }
    
    .parrafo {
        /* color: #888;
        font-size: 20px;
        line-height: 30px; */
        font-size: 16px;
        text-align: justify;
    }

    main .imagen {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    main .centrar-video {
        display: block;
        margin: 0 auto;
    }
}